.header {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerTitle {
  align-items: center;
  background-color: rgba(var(--color-accent-rgb), 0.7);
  padding: var(--spacing-sm);
  border-radius: 5px;
}
