.textInput {
  display: flex;
  flex-direction: row;
  background-color: var(--color-accent);
  border-radius: 25px;
  padding: 3px 9px 5px 4px;
}

.label {
  margin: auto 1rem;
  color: white;
}

.input {
  background-color: white;
  border-radius: 25px;
}

.input:focus {
  outline: none;
  border: 3px solid var(--color-secondary);
}
