.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkBar {
  list-style: none;
  display: flex;
  gap: var(--spacing-md);
}

.linkItem {
  list-style: none;
  background-color: var(--color-accent);
  color: var(--color-secondary);
  font-weight: bold;
  border-radius: 5px;
  font-weight: 500;
  padding: 5px 10px;
}

.linkItem:hover {
  background-color: rgba(var(--color-background-rgb), 0.3);
}
