:root {
  /* colors */
  --color-primary: darkCyan;
  --color-secondary: coral;
  --color-accent: slateGrey;
  --color-background: cornSilk;
  --color-text: black;
  --color-alert: rgba(205, 7, 7, 0.963);

  /*colors with rgb for transparency*/
  --color-primary-rgb: 0, 139, 139; /*darkcyan */
  --color-secondary-rgb: 255, 127, 80; /* coral */
  --color-accent-rgb: 112, 128, 144; /* slate grey */
  --color-background-rgb: 255, 248, 220; /* cornsilk */

  /* spacing */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;

  /* typography */
  --font-family: Arial, Helvetica, sans-serif;
  --font-size-base: 1rem;
  --font-size-sm: 0.75rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.5rem;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  margin: 0;
  padding: 0;
  height: 100vh;
}

.pageCard {
  background-color: var(--color-primary);
  margin: 5em auto;
  padding: var(--spacing-lg);
  width: 80%;
  border-radius: 25px;
}

.errorMessage {
  color: var(--color-alert);
  background-color: lightpink;
  border-radius: 6px;
  padding: 0.5rem, 0.75rem;
}

.loadingMessage {
  color: var(--color-text);
}

/* .formLabel {} */

/* .formSelect{} */

/* .formInput{} */
