:root {
  /* colors */
  --color-primary: darkCyan;
  --color-secondary: coral;
  --color-accent: slateGrey;
  --color-background: cornSilk;
  --color-text: black;
  --color-alert: rgba(205, 7, 7, 0.963);

  /*colors with rgb for transparency*/
  --color-primary-rgb: 0, 139, 139; /*darkcyan */
  --color-secondary-rgb: 255, 127, 80; /* coral */
  --color-accent-rgb: 112, 128, 144; /* slate grey */
  --color-background-rgb: 255, 248, 220; /* cornsilk */

  /* spacing */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;

  /* typography */
  --font-family: Arial, Helvetica, sans-serif;
  --font-size-base: 1rem;
  --font-size-sm: 0.75rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.5rem;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  margin: 0;
  padding: 0;
  height: 100vh;
}

.pageTitle {
  background-color: var(--color-secondary);
}

.pageCard {
  background-color: rgba(var(--color-primary-rgb), 1);
  backdrop-filter: blur(3px);
  margin: 5em auto;
  padding: var(--spacing-lg);
  width: 80%;
  border-radius: 25px;
}

.errorMessage {
  color: var(--color-alert);
  background-color: white;
  border-radius: 6px;
  padding: 5px;
  width: 70%;
}

.loadingMessage {
  color: var(--color-text);
}

.formGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  background-color: rgba(var(--color-accent-rgb), 1);
  /* backdrop-filter: blur(30px); */
  border-radius: 7px 0 0 7px;
  padding: 3px 9px 5px 10px;
  margin-bottom: var(--spacing-sm);
  gap: var(--spacing-sm);
}

.formLabel {
  font-weight: 500;
  color: white;
}

/* .formSelect{} */

.formInput,
.formSelect {
  background-color: white;
  border-radius: 25px;
}

.formInput:focus,
.formSelect:focus {
  outline: none;
  border: 3px solid var(--color-secondary);
}
